a:hover {
  text-decoration: underline;
}

.card-body {
  padding: .5rem 1rem 1rem 1rem;
  background-color: #D5EDF5;
}

.asteriskField {
  display: none;
}

.form-group {
  padding-bottom: 0.5rem;
}

.card-header {
  background-color: #F4F5D5;
}
